.ar-wrap {
    &.alert-setting {
        .alert-setting__list {
            border-radius: 6px;
            border: 1px solid $border-color;
            padding: 0 1rem;
            & > li {
                padding: 1.125rem 0.75rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-of-type) {
                    border-bottom: 1px solid $border-color;
                }
                & > p {
                    color: $dark;
                    font-size: 0.8125rem;
                    font-weight: 500;
                }
                .check-label {
                    width: 3.75rem;
                    height: 1.5rem;
                    border-radius: 300rem;
                    background-color: #f2f2f2;
                    position: relative;
                    box-shadow: 0 0 3px #ededed;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 1.25rem;
                        height: 1.25rem;
                        background-color: white;
                        border-radius: 50%;
                        position: absolute;
                        top: 0.125rem;
                        left: 0.1875rem;
                        transition: all 0.35s;
                    }
                }
                & > input[type="checkbox"]:checked + .check-label {
                    background-color: $skyblue;
                    &::after {
                        left: calc(100% - 1.4375rem);
                    }
                }
            }
        }
    }
}